CREATE DATABASE GreenShop;
GO
USE GreenShop

CREATE TABLE Customer (
	cID int NOT NULL IDENTITY(1,1) PRIMARY KEY,
	cName nvarchar(50),
	Email nvarchar(50),
	Password nvarchar(50),
	Phone nvarchar(50),
	Address nvarchar(100),
	Role int
);

CREATE TABLE Category (
	cateID int NOT NULL IDENTITY(1,1) PRIMARY KEY,
	Name nvarchar(50),
);

CREATE TABLE Flower (
	fID int NOT NULL IDENTITY(1,1) PRIMARY KEY,
	fName nvarchar(50),
	Quantity int,
	Price float,
	cateID int,
	Img nvarchar(50),
	Sale int,
	Vote float,
	CONSTRAINT FK_FlowerCategory FOREIGN KEY (cateID) REFERENCES Category (cateID)
);
CREATE TABLE Comment(
	commentID int NOT NULL IDENTITY(1,1) PRIMARY KEY,
	cID int,
	fID int,
	Content nvarchar(255),
	CONSTRAINT FK_CommentCustomer FOREIGN KEY (cID) REFERENCES Customer (cID),
	CONSTRAINT FK_CommentFlower FOREIGN KEY (fID) REFERENCES Flower (fID),
);


CREATE TABLE Bill (
	bID int NOT NULL IDENTITY(1,1) PRIMARY KEY,
	cID int,
	Total float,
	Payment nvarchar(50),
	Bank nvarchar(50),
	Address nvarchar(100),
	Date nvarchar(50),
	CONSTRAINT FK_BillCustomer FOREIGN KEY (cID) REFERENCES Customer (cID)
);

CREATE TABLE BillDetail (
	bDetailID int NOT NULL IDENTITY(1,1) PRIMARY KEY,
	bID int,
	fID int,
	Price float,
	Quantity int,
	Status nvarchar(50),
	CONSTRAINT FK_BillDetail_Flower FOREIGN KEY (fID) REFERENCES Flower (fID),
	CONSTRAINT FK_BillDetail_Bill FOREIGN KEY (bID) REFERENCES Bill (bID),
);


INSERT INTO Customer(cName,Email,Password,Phone,Address,Role) VALUES ('admin','admin','admin',null,null,1)

INSERT INTO Category(Name) VALUES (N'Sinh Nhật')
INSERT INTO Category(Name) VALUES (N'Trang Trí')
INSERT INTO Category(Name) VALUES (N'Tiệc Cưới')

INSERT INTO Flower(fName,Quantity,Price,cateID,Img) VALUES (N'Khổng Tước','5','200000','1','./Images/spx2-1.png')
INSERT INTO Flower(fName,Quantity,Price,cateID,Img) VALUES (N'Sơn Liễu','5','200000','2','./Images/spx2-2.png')
INSERT INTO Flower(fName,Quantity,Price,cateID,Img) VALUES (N'Ngâu','5','340000','3','./Images/spx2-3.png')
