<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productPage</servlet-name>
        <servlet-class>controller.productPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pagination</servlet-name>
        <servlet-class>Pagination</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productDetail</servlet-name>
        <servlet-class>controller.productDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDAO</servlet-name>
        <servlet-class>dao.CustomerDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>controller.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCart</servlet-name>
        <servlet-class>controller.HandleCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartView</servlet-name>
        <servlet-class>controller.CartView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAddress</servlet-name>
        <servlet-class>controller.ChangeAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>controller.checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>controller.changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>flowerAdmin</servlet-name>
        <servlet-class>controller.flowerAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFlower</servlet-name>
        <servlet-class>controller.ManageFlower</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>controller.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sort</servlet-name>
        <servlet-class>controller.Sort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Filter</servlet-name>
        <servlet-class>controller.Filter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userAdmin</servlet-name>
        <servlet-class>controller.userAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>billAdmin</servlet-name>
        <servlet-class>controller.billAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrder</servlet-name>
        <servlet-class>controller.ManageOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleCartInPage</servlet-name>
        <servlet-class>controller.HandleCartInPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUser</servlet-name>
        <servlet-class>controller.ManageUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editOrder</servlet-name>
        <servlet-class>controller.editOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryAdmin</servlet-name>
        <servlet-class>controller.categoryAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCategory</servlet-name>
        <servlet-class>controller.ManageCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shipper</servlet-name>
        <servlet-class>controller.Shipper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sale</servlet-name>
        <servlet-class>controller.Sale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>controller.AddComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productPage</servlet-name>
        <url-pattern>/productPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pagination</servlet-name>
        <url-pattern>/Pagination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productDetail</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDAO</servlet-name>
        <url-pattern>/CustomerDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCart</servlet-name>
        <url-pattern>/HandleCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartView</servlet-name>
        <url-pattern>/CartView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAddress</servlet-name>
        <url-pattern>/ChangeAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>flowerAdmin</servlet-name>
        <url-pattern>/flowerAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFlower</servlet-name>
        <url-pattern>/ManageFlower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sort</servlet-name>
        <url-pattern>/Sort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Filter</servlet-name>
        <url-pattern>/Filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userAdmin</servlet-name>
        <url-pattern>/userAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>billAdmin</servlet-name>
        <url-pattern>/billAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrder</servlet-name>
        <url-pattern>/ManageOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleCartInPage</servlet-name>
        <url-pattern>/HandleCartInPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUser</servlet-name>
        <url-pattern>/ManageUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editOrder</servlet-name>
        <url-pattern>/editOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryAdmin</servlet-name>
        <url-pattern>/categoryAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCategory</servlet-name>
        <url-pattern>/ManageCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shipper</servlet-name>
        <url-pattern>/Shipper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sale</servlet-name>
        <url-pattern>/Sale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
